footer.footer
    .row            
        nav.medium-5.large-5.columns
            ul.vertical.menu.medium-horizontal.large-horizontal
                li
                    a(href="index.html") Home
                li
                    a(href="aboutus.html") About Us
                li
                    a(href="services.html") Services
                li
                    a(href="rooms.html") Rooms
                li
                    a(href="contactus.html") Contact Us
        .contact-information.medium-3.large-3.columns
            ul.no-bullet.vertical
                li
                    i.fi-marker
                    | 842 State Street East New Albany, IN 47150
                li 
                    i.fi-telephone
                    |+1-202-555-0145
                li
                    i.fi-mail
                    | contact@hotel&spa.com
        .about-us.medium-4.large-4.columns
            h4 About Us
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Corporis laboriosam illo enim laborum alias velit numquam.
                | Ex sed quia molestiae dolor quaerat modi animi architecto recusandae soluta atque, accusantium ratione?
            ul.menu.social.align-right
                li
                    a(href="http://www.twitter.com")
                        i.fi-social-twitter    
                li
                    a(href="http://www.facebook.com")
                        i.fi-social-facebook    
    p.text-center.copyright All Rights Reserved Hotel & Spa 2015.        
