.off-canvas-wrapper
	.off-canvas-wrapper-inner(data-off-canvas-wrapper='')
		#mainMenu.off-canvas.position-left(data-off-canvas='', data-position='left')
			h3.text-center Navigation
			ul.menu.vertical(data-drilldown)
				li
					a(href="home.html") Home
				li
					a(href="aboutus.html") About Us
				li
					a(href="services.html") Services
				li.has-submenu.is-drilldown-submenu-parent
					a(href="rooms.html") Rooms
					ul.menu.vertical
						li
							a(href="room-01.html") Room 01
						li
							a(href="room-02.html") Room 02
						li
							a(href="room-03.html") Room 03
						li
							a(href="room-04.html") Room 04
						li
							a(href="room-05.html") Room 05
						li
							a(href="room-06.html") Room 06
				li
					a(href="contactus.html") Contact Us
		.off-canvas-content(data-off-canvas-content='')
			section.promo-video
				#overlay
				video#video(autoplay='' loop='')
					source(src="assets/videos/videobg.mp4" type="video/mp4")
					source(src="assets/videos/videobg.webm" type="video/webm")
					source(src="assets/videos/videobg.ogv" type="video/ogv")
				.headliner
					.column.row
						h1.text-center Passion for Excelance
				.header-content
					.row
						.medium-4.columns
							img(src="assets/img/logo.svg", alt="Site logo")
						.medium-4.columns
							a.menu-icon.float-right(href="#" data-open='mainMenu') 
