section.rooms.row
    h2.columns Our Rooms
    .medium-4.columns 
        a(href="room-01.html")
            .room-image
                img(src="assets/img/rooms/room-01.jpg", alt="room-01 image")
                .room-title
                    h3 Room 01
            .room-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .medium-4.columns 
        a(href="room-02.html")
            .room-image
                img(src="assets/img/rooms/room-02.jpg", alt="room-02 image")
                .room-title
                    h3 Room 02
            .room-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .medium-4.columns 
        a(href="room-03.html")
            .room-image
                img(src="assets/img/rooms/room-03.jpg", alt="room-03 image")
                .room-title
                    h3 Room 03
            .room-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
.row.columns
    a.button.float-right(href="#") Wiew All
<!-- Separator image -->
.separator-image.pool-image
<!-- About Us Gallery -->

    
    
