.row.column.show-for-small-only
    h2 Rooms
section.content.rooms.row
    .medium-4.columns 
        a(href="room-01.html")
            .room-image
                img(src="assets/img/rooms/room-01.jpg", alt="room-01 image")
                .room-title
                    h3 Room 01
            .room-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .medium-4.columns 
        a(href="room-02.html")
            .room-image
                img(src="assets/img/rooms/room-02.jpg", alt="room-02 image")
                .room-title
                    h3 Room 02
            .room-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .medium-4.columns 
        a(href="room-03.html")
            .room-image
                img(src="assets/img/rooms/room-03.jpg", alt="room-03 image")
                .room-title
                    h3 Room 03
            .room-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
.separator-image.rooms-image
section.content.rooms.row
    .medium-4.columns 
        a(href="room-04.html")
            .room-image
                img(src="assets/img/rooms/room-04.jpg", alt="room-01 image")
                .room-title
                    h3 Room 04
            .room-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .medium-4.columns 
        a(href="room-05.html")
            .room-image
                img(src="assets/img/rooms/room-05.jpg", alt="room-02 image")
                .room-title
                    h3 Room 05
            .room-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    .medium-4.columns 
        a(href="room-06.html")
            .room-image
                img(src="assets/img/rooms/room-03.jpg", alt="room-06 image")
                .room-title
                    h3 Room 06
            .room-content
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
