.row.column.show-for-small-only
    h2 Services
section.content.services
    .row(data-equalizer="service")
        .medium-6.content-text.columns(data-equalizer-watch="service")
            h2 Pool
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, fugiat sunt ipsam, eum illo repellendus. Beatae vero cupiditate alias libero autem recusandae maxime sunt iure!
        .medium-6.columns(data-equalizer-watch="service")
            img(src="assets/img/services/service01.jpg", alt="Pool")
    .row(data-equalizer="service1")
        .medium-6.medium-push-6.content-text.columns(data-equalizer-watch="service1")
            h2.medium-text-right Restaurant
            p.medium-text-right  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, fugiat sunt ipsam, eum illo repellendus. Beatae vero cupiditate alias libero autem recusandae maxime sunt iure!
        .medium-6.medium-pull-6.columns(data-equalizer-watch="service1")
            img(src="assets/img/services/service02.jpg", alt="Restaurant")
    .row(data-equalizer="service2")
        .medium-6.columns.content-text(data-equalizer-watch="service2")
            h2 Rest Area
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, fugiat sunt ipsam, eum illo repellendus. Beatae vero cupiditate alias libero autem recusandae maxime sunt iure!
        .medium-6.columns(data-equalizer-watch="service2")
            img(src="assets/img/services/service03.jpg", alt="Rest Area")
    .row(data-equalizer="service3")
        .medium-6.medium-push-6.content-text.column(data-equalizer-watch="service3")
            h2.medium-text-right Bar
            p.medium-text-right  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, fugiat sunt ipsam, eum illo repellendus. Beatae vero cupiditate alias libero autem recusandae maxime sunt iure!
        .medium-6.medium-pull-6.columns(data-equalizer-watch="service3")
            img(src="assets/img/services/service04.jpg", alt="Bar")
            
