
<footer class="footer">
  <div class="row">           
    <nav class="large-5 columns">
      <ul class="vertical menu large-horizontal">
        <li><a href="#!">Home</a></li>
        <li><a href="#!">About Us</a></li>
        <li><a href="#!">Services</a></li>
        <li><a href="#!">Rooms</a></li>
        <li><a href="#!">Contact Us</a></li>
      </ul>
    </nav>
    <div class="contact-information large-3 columns">
      <ul class="no-bullet vertical">
        <li><i class="fi-marker"> </i>842 State Street East New Albany, IN 47158
        </li>
        <li><i class="fi-telephone"> </i>+1-202-555-0145
        </li>
        <li><i class="fi-mail"> </i>contact@hotel&amp;spa.com
        </li>
      </ul>
    </div>
    <div class="about-us large-4 columns">
      <h4>About Us</h4>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Corporis laboriosam illo enim laborum alias velit numquam.
        Ex sed quia molestiae dolor quaerat modi animi architecto recusandae soluta atque, accusantium ratione?
      </p>
      <ul class="menu social align-right">
        <li><a href="http://www.twitter.com"><i class="fi-social-twitter">   </i></a></li>
        <li><a href="http://www.facebook.com"><i class="fi-social-facebook">   </i></a></li>
      </ul>
    </div>
  </div>
  <p class="text-center copyright">All Rights Reserved Hotel & Spa 2015.        </p>
</footer>