
<div class="off-canvas-wrapper">
  <div data-off-canvas-wrapper="" class="off-canvas-wrapper-inner">
    <div id="mainMenu" data-off-canvas="" data-position="left" class="off-canvas position-left">
      <h3 class="text-center">Navigation</h3>
      <ul data-drilldown="data-drilldown" class="menu vertical">
        <li><a href="index.html">Home</a></li>
        <li><a href="aboutus.html">About Us</a></li>
        <li><a href="services.html">Services</a></li>
        <li class="has-submenu is-drilldown-submenu-parent"><a href="rooms.html">Rooms</a>
          <ul class="menu vertical">
            <li><a href="room-01.html">Room 01</a></li>
            <li><a href="room-02.html">Room 02</a></li>
            <li><a href="room-03.html">Room 03</a></li>
            <li><a href="room-04.html">Room 04</a></li>
            <li><a href="room-05.html">Room 05</a></li>
            <li><a href="room-06.html">Room 06</a></li>
          </ul>
        </li>
        <li><a href="contactus.html">Contact Us</a></li>
      </ul>
    </div>
    <div data-off-canvas-content="" class="off-canvas-content">
      <section class="promo-video">
        <div id="overlay"></div>
        <video id="video" autoplay="" loop="">
          <source src="assets/videos/videobg.mp4" type="video/mp4"/>
          <source src="assets/videos/videobg.webm" type="video/webm"/>
          <source src="assets/videos/videobg.ogv" type="video/ogv"/>
        </video>
        <div class="headliner">
          <div class="column row">
            <h1 class="text-center">Passion for Excelance</h1>
          </div>
        </div>
        <div class="header-content">
          <div class="row">
            <div class="small-8 medium-4 columns"><img src="assets/img/logo.svg" alt="Site logo"/></div>
            <div class="small-4 medium-4 columns"><a href="#" data-open="mainMenu" class="menu-icon float-right"> </a></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>