
<div class="row column show-for-small-only">
  <h2>Contact Us / Booking</h2>
</div>
<section class="content">
  <form>
    <div class="row">
      <div class="large-6 columns large-centered">
        <div class="row">
          <div class="medium-12 columns">
            <label for="name">Name
              <input type="text" placeholder="Your Name" name="name"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <label for="name">Email
              <input type="email" placeholder="Your Email" name="email"/>
            </label>
          </div>
          <div class="medium-6 columns">
            <label for="name">City
              <input type="text" placeholder="Your City" name="city"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <label>Number  of People
              <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected="">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
            </label>
          </div>
          <div class="medium-6 columns">
            <label for="date">Arrival Date
              <input type="date" name="date"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <legend>Extra bed:</legend>
            <input id="yes" type="radio" name="extrabed" value="yes" required=""/>
            <label for="yes">Yes</label>
            <input id="no" type="radio" name="extrabed" value="no"/>
            <label for="no">No</label>
          </div>
        </div>
        <div class="row column">
          <button type="submit" value="Send" class="button"> <span class="show-for-sr">Send</span><span aria-hidden="true"><i class="fi-mail"></i></span>Send</button>
          <button type="reset" value="Reset" class="button reset">Reset</button>
        </div>
      </div>
    </div>
  </form>
</section>