
<div class="row column show-for-small-only">
  <h2>Services</h2>
</div>
<section class="content services">
  <div data-equalizer="service" class="row">
    <div data-equalizer-watch="service" class="medium-6 content-text columns">
      <h2>Pool</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, fugiat sunt ipsam, eum illo repellendus. Beatae vero cupiditate alias libero autem recusandae maxime sunt iure!</p>
    </div>
    <div data-equalizer-watch="service" class="medium-6 columns"><img src="assets/img/services/service01.jpg" alt="Pool"/></div>
  </div>
  <div data-equalizer="service1" class="row">
    <div data-equalizer-watch="service1" class="medium-6 medium-push-6 content-text columns">
      <h2 class="medium-text-right">Restaurant</h2>
      <p class="medium-text-right"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, fugiat sunt ipsam, eum illo repellendus. Beatae vero cupiditate alias libero autem recusandae maxime sunt iure!</p>
    </div>
    <div data-equalizer-watch="service1" class="medium-6 medium-pull-6 columns"><img src="assets/img/services/service02.jpg" alt="Restaurant"/></div>
  </div>
  <div data-equalizer="service2" class="row">
    <div data-equalizer-watch="service2" class="medium-6 columns content-text">
      <h2>Rest Area</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, fugiat sunt ipsam, eum illo repellendus. Beatae vero cupiditate alias libero autem recusandae maxime sunt iure!</p>
    </div>
    <div data-equalizer-watch="service2" class="medium-6 columns"><img src="assets/img/services/service03.jpg" alt="Rest Area"/></div>
  </div>
  <div data-equalizer="service3" class="row">
    <div data-equalizer-watch="service3" class="medium-6 medium-push-6 content-text column">
      <h2 class="medium-text-right">Bar</h2>
      <p class="medium-text-right"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, fugiat sunt ipsam, eum illo repellendus. Beatae vero cupiditate alias libero autem recusandae maxime sunt iure!</p>
    </div>
    <div data-equalizer-watch="service3" class="medium-6 medium-pull-6 columns"><img src="assets/img/services/service04.jpg" alt="Bar"/></div>
  </div>
</section>