
<section id="booking" data-magellan-target="booking" class="booking row">
  <div class="large-8 large-centered columns text-center">
    <h2>Book now</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem modi, est praesentium ad in veritatis, eaque. Eligendi ipsa rem dicta, perferendis consectetur, asperiores ex quae porro sit quas qui quidem.</p><a data-open="modalBook" class="button">Book Now</a>
    <div id="modalBook" data-reveal="" data-animation-in="scale-in-up" data-animation-out="scale-out-down" class="reveal">
      <h2 class="text-center">Booking Form</h2>
      <form data-abide="" novalidate="">
        <div style="display:none;" data-abide-error="" class="alert callout">
          <p><i class="fi-alert"></i>There're some problems in your form !</p>
        </div>
        <div class="row columns">
          <label>Name:
            <input type="text" placeholder="Your Name" required=""/><span class="form-error"><i class="fi-alert"></i>The name fild is mandatory</span>
          </label>
        </div>
        <div class="row columns">
          <label>Email:
            <input type="text" placeholder="Your Email" required="" pattern="email"/><span class="form-error"><i class="fi-alert"></i>The email fild is mandatory</span>
          </label>
        </div>
        <div class="row columns">
          <label>Phone:
            <input type="text" placeholder="Your Phone Number" required="" pattern="number"/><span class="form-error"><i class="fi-alert"></i>The phone fild is mandatory</span>
          </label>
        </div>
        <div class="row columns">
          <label>Message:
            <textarea placeholder="Your Message"></textarea>
          </label>
        </div>
        <div class="row columns">
          <input type="submit" value="Submit" class="button"/>
          <button type="reset" value="Reset" class="button success">Reset</button>
        </div>
        <button data-close="" aria-label="Close reveal" type="button" class="close-button"><span aria-hidden="true">&times;</span></button>
      </form>
    </div>
  </div>
</section>