
<section class="rooms row">
  <h2 class="columns">Our Rooms</h2>
  <div class="medium-4 columns"> <a href="room-01.html">
      <div class="room-image"><img src="assets/img/rooms/room-01.jpg" alt="room-01 image"/>
        <div class="room-title">
          <h3>Room 01</h3>
        </div>
      </div>
      <div class="room-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div></a></div>
  <div class="medium-4 columns"> <a href="room-02.html">
      <div class="room-image"><img src="assets/img/rooms/room-02.jpg" alt="room-02 image"/>
        <div class="room-title">
          <h3>Room 02</h3>
        </div>
      </div>
      <div class="room-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div></a></div>
  <div class="medium-4 columns"> <a href="room-03.html">
      <div class="room-image"><img src="assets/img/rooms/room-03.jpg" alt="room-03 image"/>
        <div class="room-title">
          <h3>Room 03</h3>
        </div>
      </div>
      <div class="room-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div></a></div>
</section>
<div class="row columns"><a href="#" class="button float-right">Wiew All</a></div><!-- Separator image -->
<div class="separator-image pool-image"></div><!-- About Us Gallery -->