
<div class="row column show-for-small-only">
  <h2>Rooms</h2>
</div>
<section class="content rooms row">
  <div class="medium-4 columns"> <a href="room-01.html">
      <div class="room-image"><img src="assets/img/rooms/room-01.jpg" alt="room-01 image"/>
        <div class="room-title">
          <h3>Room 01</h3>
        </div>
      </div>
      <div class="room-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div></a></div>
  <div class="medium-4 columns"> <a href="room-02.html">
      <div class="room-image"><img src="assets/img/rooms/room-02.jpg" alt="room-02 image"/>
        <div class="room-title">
          <h3>Room 02</h3>
        </div>
      </div>
      <div class="room-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div></a></div>
  <div class="medium-4 columns"> <a href="room-03.html">
      <div class="room-image"><img src="assets/img/rooms/room-03.jpg" alt="room-03 image"/>
        <div class="room-title">
          <h3>Room 03</h3>
        </div>
      </div>
      <div class="room-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div></a></div>
</section>
<div class="separator-image rooms-image"></div>
<section class="content rooms row">
  <div class="medium-4 columns"> <a href="room-04.html">
      <div class="room-image"><img src="assets/img/rooms/room-04.jpg" alt="room-01 image"/>
        <div class="room-title">
          <h3>Room 04</h3>
        </div>
      </div>
      <div class="room-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div></a></div>
  <div class="medium-4 columns"> <a href="room-05.html">
      <div class="room-image"><img src="assets/img/rooms/room-05.jpg" alt="room-02 image"/>
        <div class="room-title">
          <h3>Room 05</h3>
        </div>
      </div>
      <div class="room-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div></a></div>
  <div class="medium-4 columns"> <a href="room-06.html">
      <div class="room-image"><img src="assets/img/rooms/room-03.jpg" alt="room-06 image"/>
        <div class="room-title">
          <h3>Room 06</h3>
        </div>
      </div>
      <div class="room-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div></a></div>
</section>